@import './variables';

@mixin cart {
    background-color: $background;
    display: block;
    max-width: auto;
    max-height: 450px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid $border-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
    overflow: hidden;

    .img-cart:hover {
        cursor: pointer;
    }

    .label-cart {
        display: block;
        font-size: 18px;
    }

    .span-cart {
        padding: 10px 0;
        display: block;
        font-size: 13px;
        color: $text-cart;
        border-bottom: 1px solid $border-cart;
    }

    .text-cart {
        display: inline-block;
        font-size: 13px;
        padding: 10px 0;
        color: $text-cart;
    }
    .more {
        background-color: $btn-more;
        display: block;
        margin-top: 5px;
        padding: 8px 10px;
        border:none;
        max-width: auto;
        border-radius: 5px;
        text-align: center;
        white-space: nowrap;
        color: $background;
        cursor: pointer;

        &:hover {
            background-color: $hover-color;
            transition: 0.5s all ease-in-out;
        }
    }
}

@mixin list-footer {
    border-right: 1px solid $border-footer;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
    box-sizing: border-box;

    .label-service {
        text-transform: uppercase;
        margin: 0;
        font-size: 17px;
        line-height: 16px;
        color: $text-footer;
    }

    .ul-service {
        padding-top: 20px;

        .li-service {
            line-height: 20px;

            .a-service {
                color: $text-service;
                font-size: 13px;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
}

@mixin responsive-menu {
    .topnav {
        #txt {
            display: none;
        }

        .myCart {
            display: none;
        }

        .icon {
            float: right;
            display: block;
        }

        .responsive {
            position: relative;

            .icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            #txt {
                float: none;
                display: block;
                text-align: left;
            }
        }
    }

}