$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #90b37f;
$hover-color:  rgb(228, 87, 87);
$text-color: #333;
$max-width: 100%;
$label: #f8923f;
$btn-more: #999999;
$background: #fff;
$font-color: #aaaaaa;
$border-color: #dddddd;
$border-left: #eee;
$bg: #cccccc;
$active: #efa0a0;
$border-bottom: #e66b6b;
$hover-next: #cccccc;
$background-footer: #383838;
$border-footer:  #3f3f3f;
$text-footer: #999;
$border-cart: #000000;
$text-cart: #555;
$text-service: rgb(129, 121, 121);