@import './variables';
@import './reset';
@import './mixin';

body {
  font-family: $font-stack;
  background-color: $background;
  max-width: 100%;
  height: 3200px;
}
/*--header--*/
header {
    display: block;
    color: $font-color;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: auto;
}

.header-top {
    position: relative;
    padding: 20px 0;
    width: 100%;
    display: flex;
    max-height: auto;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    background-color: $text-color;

    .title-header {
        max-width: 30%;

        .header-img {
            width: 186px;
            height: 55px;
        }
    }
}

.topnav {
    max-height: auto;
    margin:0;
    padding:0;
    max-width: 70%;
    overflow: hidden;

    #txt {
        float: left;
        display: block;
        color: $font-color;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 11px;
        white-space: nowrap;
        text-transform: uppercase;

        &:hover {
            border:none;
            color: $hover-color;
        }
    }

    .icon{
        @extend #txt;
    }

    .myCart {
        background: $primary-color;
        background-image: url('../images/cart-shopping.png'); 
        background-repeat: no-repeat;     
        background-position: 5px;
        text-align: center;
        padding: 10px 30px;
        padding-left: 30px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        outline: none;
        color: $background;

        &:hover {
            transition: 0.5s all ease-in-out;
            background-color: $hover-color;
        }
    }

    .icon {
        display: none;
    }
}

.header-bottom {
    position: relative;
    max-height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:none;
    padding: 10px 0px;
    max-width: 100%;

    .menu-bottom {
        .list-menu-bottom {
            display: flex;
            align-items: center;
            background: none;
            border: 0;
            box-shadow: none;
            width: 100%;

            .list-bottom{
                border: 0;
                padding: 0 15px;

                .href-btn {
                    color: $text-color;

                    &:hover {
                        color: $hover-color;
                        transition: 0.1s ease-in-out;
                    }
                }

                .active {
                    color: $hover-color;
                }
            }
        }
    }
    .menu-search {
        transform: translateX(-20px);
        max-width: 100%;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        padding: 0 10px;

        #text {
            width: 200px;
            border: none;
            padding: 12px 10px;

            &::placeholder {
                color: $font-color;
            }
        }

        #search {
            background-image: url('../images/seachbutton.png'); 
            background-color: transparent; 
            background-repeat: no-repeat;  
            background-position: 0px 0px;  
            border: none;           
            cursor: pointer;       
            height: 16px;           
            padding-left: 16px;     
            vertical-align: middle;
            outline: none; 

            &::placeholder {
                color: $font-color;
            }

            &:hover {
                transition: 0.5s all;
                transform:translate3d(0,0,0) rotate(45deg); 
            }
        }
    }
}
/*--end header-- */
#banner {
    width: 100%;
    max-height: auto;

    .content-banner {
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-height: auto;

        .slide1 {
            width: 100%;
            height: 450px;
        }

        .text-banner {
            max-height: 200px;
            padding: 10px 0;
            margin-top: 15px;
            margin-bottom: 15px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;

            .txt-banner {
                display: flex;
                align-items: center;
                color: $text-color;
                float: left;
                font-size: 23px;
                margin: 0px;
                font-weight: 300;
            }

            .shop-now {
                background-image: url('../images/download-shop-now.png');
                background-repeat: no-repeat;
                background-position: 5px;
                background-color: $hover-color;
                outline: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                float: left;
                margin-left: 5px;
                padding: 15px 10px;
                padding-left: 25px;
                font-size: 15px;
                color: $background;
                
                &:hover {
                    background-color:#90b37f;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }

}
/* --end banner-- */
#content {
    max-height: auto;
    background: #f8f8f8;
    position: relative;

    .main-content {
        display: block;
        padding: 50px 0;
        max-width: 920px;
        display:flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;

        .side-bar {
            padding: 0 20px;
            max-width: 100%;
            display: flex;
            flex-direction: column;

            .categories {
                display: flex;
                flex-direction: column;
                max-height: 150px;
                max-width: 80%;
                border-bottom: 1px solid $border-color;

                .label {
                    font-weight: bold;
                    font-size: 20px;
                }
                .list-categories {
                    padding: 25px 20px;

                    .list-category{
                        padding: 3px;

                        .href-category {
                            font-size: 15px;
                            color:$text-color;

                            &:hover {
                                color: $hover-color;
                                transform: 0.2s all ease-in;
                            }
                        }
                    }
                }
            }
            .newsletter {
                height: 250px;
                max-width: 80%;
                padding: 25px 0px;
                border-bottom: 1px solid $border-color;

                .news {
                    font-weight: bold;
                    font-size: 20px;
                }
                #form {
                    display: flex;
                    flex-direction: column;

                    #sign-up {
                        font-size: 15px;
                        padding-top: 20px;
                        padding-bottom: 10px;
                    }

                    #email {
                        margin: 10px 0;
                        padding: 8px;
                        max-width: 200px;
                        outline: none;
                        border: 1px solid $border-color;
                        border-radius: 4px;
                    }

                    .sign-up {
                        background-color: $btn-more;
                        display: block;
                        padding: 8px 10px;
                        border:none;
                        max-width: 63px;
                        border-radius: 5px;
                        text-align: center;
                        white-space: nowrap;
                        color: $background;
                        cursor: pointer;

                        &:hover {
                            background-color: $hover-color;
                            transition: 0.2s all ease-in-out;
                        }
                    }
                }
            }
            .get-in-touch {
                padding: 20px 0;
                height: 150px;
                max-width: 80%;
                border-bottom: 1px solid $border-color;

                .icon-social {
                    display: flex;
                    align-items: center;

                    #social-img {
                        &:hover {
                            cursor: pointer;
                            transition: 0.5s all;
                            opacity: 0.5;
                        }
                    }
                    
                    #social-img:not(:first-child) {
                        padding-left: 5px;
                        margin: 10px 0;
                    }
                }
            }
            .list-cart {
                display: flex;
                max-height: auto;
                max-width: 100%;
                flex-direction: column;

                .cart1 {
                    @include cart;

                    label {
                        color: $label;
                    }
                }

                .cart2 {
                    @include cart;

                    label {
                        color: $primary-color;
                    }
                }

                .cart3 {
                    @include cart;

                    label {
                        color: $label;
                    }
                }
            }
        }
        .main-list {
            padding: 0 20px;
            max-width: 100%;
            display: block;
            max-height: auto;

            .sale-clothes {
                overflow: hidden;
                border-bottom: 1px solid $border-color;
                padding-bottom: 20px;
                margin-right: auto;
                display: grid;
                grid-template-columns: auto(3, 1fr);
                grid-auto-rows: 100px;

                .sale-img {
                    &:hover {
                        opacity: 0.5;
                    }
                }

                #img1 {
                    height: 300px;
                    width: 300px;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }

                #img2 {
                    height: 300px;
                    width: 300px;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }

                #img3 {
                    height: 400px;
                    width: 300px;
                    grid-column-start: 3;
                    grid-column-end: 4;
                    grid-row-start: 1;
                    grid-row-end: 5;
                }

                #img4 {
                    height: 103px;
                    width: 300px;
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 4;
                    grid-row-end: 4 ;
                }

                #img5 {
                    height: 103px;
                    width: 300px;
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 4;
                }
            }

            .new-clothes {
                border-bottom: 1px solid $border-color;
                padding-bottom: 20px;
                display: flex;
                max-height: auto;
                justify-content: space-between;
                padding: 20px 0;
                position: relative;
                max-width: 100%;

                .side-product {
                    position: relative;
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    background-color: $hover-color;

                    .label-product {
                        padding: 10px 30px;
                        color: $background;
                        text-transform: uppercase;
                        font-size: 20px;
                        display: inline-block;
                        max-width: 100%;
                    }

                    .product-clothes {
                        margin-top: 10px;
                        line-height: 25px;

                        .bth:first-child {
                            color: $background;
                            padding: 0 30px;
                            background: $active;
                            border-bottom: 1px solid $border-bottom;
                        }

                        .bth {
                            padding: 0 30px;
                            line-height: 31px;
                            width: 100%;
                            border-bottom: 1px solid $border-bottom;

                            #click {
                                color: $background;
                                font-weight: 500;
                                font-size: 13px;
                            }

                            &:hover {
                                background: $active;
                            }
                        }
                    }
                    
                }
                
                .list-product {
                    width: 1700px;
                    overflow-x: scroll;
                    min-height: auto;
                    overflow: hidden;
                    display: flex;
                    align-items: center;

                    .item {
                        display: block;
                        max-width: 100%;
                        max-height: auto;
                        background-color: $background;

                        #item-img {
                            padding: 20px;
                            width: 176px;
                            height: 228px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .title {
                margin-top: 20px;

                .title-span {
                    color: $text-color;
                    font-size: 26px;
                }
            }

            .popular-clothes {
                margin-top: 30px;
                display: inline-block;
                display: flex;
                flex-direction: column;
                position: relative;
                max-width: auto;
                max-height: auto;
                line-height: 30px;

                .list-type {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    z-index: 1;
                    height: 32px;
                    padding: 20px 0;

                    .type {
                        display: flex;
                        justify-content: flex-start;
                        max-width: 50%;

                        .accessories {
                            background-color: $primary-color;
                            padding: 5px 10px;
                            display: block;
                            border: none;
                            outline: none;

                            &:hover {
                                cursor: pointer;
                                color: $background;
                            }
                        }

                        .jewely {
                            background-color: $btn-more;
                            padding: 5px 10px;
                            display: block;
                            border: none;
                            margin-left: 5px;
                            outline: none;

                            &:hover {
                                cursor: pointer;
                                background-color: $primary-color;
                            }
                        }
                    }

                    .pagination {
                        .next {
                            background-color: $hover-next;
                            padding: 5px;       
                            border: none;
                            color: $background;
                            width: 31px;
                            height: 31px;

                            &:hover {
                                background-color: $text-color;
                            }
                        }
                    }
                }

                .product {
                    min-height: auto;
                    overflow: hidden;
                    width: 100%;
                    border: 1px solid $border-left;
                    margin:0;
                    padding:0;

                    .item {
                        border-left: 1px solid $border-left;
                        float: left;
                        max-width: 100%;
                        margin:0;
                        padding:0;
                        display: flex;
                        flex-direction: column;

                        .name-item {
                            padding: 0 10px;
                            font-weight: bolder;
                            font-size: 13px;

                            &:hover {
                                color: $hover-color; 
                            }
                        }
                        
                        .price-item {
                            padding: 0 10px;
                            color: $hover-color;
                        }

                        .img-product {
                            border-bottom: 1px solid $border-left;
                            width: 174.3px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
/* --end content-- */

#content-firm {
    width: 100%;
    position: relative;
    display: inline-block;
    max-height: 155px;
    background-color: $background;

    .list-firm {
        overflow: hidden;
        max-width: 1300px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left:  auto;
        margin-right: auto;
        
        .pagination {
            .next {
                background-color: $bg;
                padding: 5px;       
                border: none;
                color: $background;
                width: 31px;
                height: 31px;

                &:hover {
                    background-color: $text-color;
                }
            }
        }
    }
}

#footer {
    background: $background-footer;
    color: $font-color;

    .list-service {    
        padding: 32px 24px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1200px;
        margin:0 auto;
        border-bottom: 1px solid $border-footer;

        .first-service {
            display: flex;
            justify-content: space-around;
            max-width: auto;
            height: 200px;

            .about {
                border-right: 1px solid $border-footer;
                padding:0 10px;
                width: 250px;

                .label-footer {
                    text-transform: uppercase;
                    margin: 0;
                    font-size: 17px;
                    line-height: 16px;
                    color: $text-footer;
                }

                .text-footer {
                    padding-top: 20px ;
                    line-height: 20px;
                    color: $font-color;
                    font-size: 13px;
                    text-align: left;
                }

                .img-footer {
                    width: 150px;
                    margin-left: 50px;
                }
            }

            .support {
                text-transform: uppercase;
                @include list-footer;
            }
        }

        .second-service {
            display: flex;
            justify-content: space-around;
            max-width: auto;
            height: 200px;
            

            .service {
                text-transform: uppercase;
                @include list-footer;
            }
            
            .information {
                text-transform: uppercase;
                @include list-footer;
            }  
        }
    }
    .detail-us {
        padding: 24px;
        display: flex;
        justify-content: space-between;
        max-width: 1350px;
        align-items: center;

        .text {
            width: 650px;
            font-size: 13px;

            .title-link {
                display: inline-block;
                color: $background;

                &:hover {
                    cursor: pointer;
                    text-decoration-line: underline;
                }
            }
            .link {
                display: inline-block;

                &:hover {
                    cursor: pointer;
                    color: $hover-color;
                }
            }
        }

        .social {
            max-width: 650px;
            display: flex;
            justify-content: space-evenly;

            #img-social {
                padding: 0 5px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}



/*responsive design*/

@media screen and (max-width: 576px) {
    .header-bottom {
        flex-wrap: wrap;
        display: flex;

        .menu-bottom {
            text-align: center;
            width: 100%;
            margin:0 auto;
            margin:0;
            padding: 0;

            .list-menu-bottom {
                margin-left: -4px;
                transform: translateX(4px);
                padding: 10px 0;

                .list-bottom {
                    .href-btn {
                        font-size: 13px;
                    }
                }
            }
        }

        .menu-search {
            transform: translateX(10px);
        }
    } 

    .text-banner {
        text-align: center;
        flex-wrap: wrap;
    }

    .main-content {
        flex-wrap: wrap;

        .side-bar {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            display: block;

            .categories {
                width: 100%;
            }

            .newsletter {
                width: 100%;

                #form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .get-in-touch {
                width: 100%;
                text-align: center;
            }
        }
    }

    .list-service {
        flex-wrap: wrap;

        .first-service {
            margin-left: auto;
        }
    }

    .detail-us {
        flex-wrap: wrap;
        text-align: center; 

        .social {
            margin-left: auto;
            margin-right: auto;
            padding: 20px 0;
        }
    }

    .new-clothes {
        flex-wrap: wrap;
        max-width: 100%;
    }

    .icon-social {
        display: flex;
        justify-content: center;
    }

    @include responsive-menu;
}


@media screen and (max-width: 768px) {
    .header-bottom {
        flex-wrap: wrap;
        display: flex;
    } 


    .text-banner {
        text-align: center;
        flex-wrap: wrap;

    }
    .detail-us {
        flex-wrap: wrap;
        text-align: center;

        .social {
            margin-left: auto;
            margin-right: auto;
            padding: 20px 0;
        }
    }
    #content-firm {
        margin:0 auto;
        margin-left: auto;
        margin-right: auto;

        .list-firm {
            max-width: 100%;
            display: flex;
            justify-content: flex-start;
            overflow-x: scroll;
        }
    }

    .main-content {
        flex-wrap: wrap;

        .side-bar {
            text-align: center;
            padding: 20px 0;
            margin-left: auto;
            margin-right: auto;

            .categories {
                width: 100%;
            }

            .newsletter {
                width: 100%;

                #form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .get-in-touch {
                width: 100%;
            }
        }

    }

    .list-service {
        flex-wrap: wrap;

        .first-service {
            margin-left: 50px;
        }

        .second-service {
            margin-left: 30px;
        }
    }

    @include responsive-menu;
    
}

@media screen and (max-width: 992px) {
    .main-content {
        max-width: 900px;
    }

    .list-service {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) { 
    .main-content {
        max-width: 1000px;
    }
}






